<h3>
  Approved pioneers (<%= Pioneer.approved.count %>)
</h3>

<% if @pioneers.length > 0 %>

<table class="table table-striped table-condensed">
  <tr>
    <th>img id</th>
    <th>type</th>
	<th>approved at</th>
	<th>votes</th>
	<th>author</th>
	<th>action</th>
  </tr>

<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.img_id %></p>
	</td>
	<td>
	  <p><%= pioneer.type %></p>
	</td>
	<td>
	  <p><%= pioneer.approved_at_formatted %></p>
	</td>
	<td>
	  <% if pioneer.votes_point > 0 %>
	    <span class="text-success"><b>+<%= pioneer.votes_point %></b></span>
	  <% elsif pioneer.votes_point < 0 %>
		<span class="text-error"><b><%= pioneer.votes_point %></b></span>
	  <% else %>
	    <span class="muted"><b><%= pioneer.votes_point %></b></span>
	  <% end %>
	</td>
	<td>
	  <%= link_to pioneer.user_name, admin_user_path(pioneer.user) %>
	</td>
	<td>
	  <%= link_to 'Delete', [:admin, pioneer], {
		  confirm: t(:are_you_sure),
	      method: :delete,
	      class: 'text-error'} %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<% end %>
