<h3>
  Articles (<%= Article.count %>)
</h3>

<% if @articles.length > 0 %>

<table class="table table-striped table-condensed">
<% @articles.each do |article| %>
  <tr>
	<td style="width:350px;">
	  <%= link_to article.title, admin_article_path(article) %>
	</td>
	<td>
	  <%= article.user_name %>
	</td>
	<td>
	  <% if article.published? %>
	    published
	  <% else %>
	    hidden
	  <% end %>
	</td>
	<td>
	  <%= article.created_at.to_s(:short_datetime) %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<% else %>

<p>There are no any articles.</p>

<% end %>
