<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>

  <legend><%= @title %></legend>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :text %>
    <%= f.text_area :text, :rows => 17, :style => "width: 800px" %>

    <label class="checkbox">
	  <%= f.check_box :published %> Published
    </label>
    <button type="submit" class="btn">Save</button>

  </fieldset>

<% end %>
