<%= form_for(@pioneer) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>

  <legend><%= @title %></legend>

    <%= f.label 'Pioneer id' %>
    <%= f.text_field :img_id %>

	<br />

	<label class="radio">
	  <input type="radio" name="pioneer[type]" id="vector" value="vector" checked>
	  Vector
	</label>
	<label class="radio">
	  <input type="radio" name="pioneer[type]" id="illustration" value="illustration">
	  Illustration
	</label>
	<label class="radio">
	  <input type="radio" name="pioneer[type]" id="photo" value="photo">
	  Photo
	</label>

	<br />

	<%= f.label :approved_at %>
	<%= f.datetime_select :approved_at, {},{:style => "width:70px;"} %>

	<br />

    <label class="checkbox">
	  <%= f.check_box :approved %> Approved?
    </label>

	<br />

    <button type="submit" class="btn">Save</button>

  </fieldset>

<% end %>
