<%= form_for(@pioneer) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>

  <legend><%= @title %></legend>

    <%= f.label t(:pioneer_id) %>
    <%= f.text_field :img_id %>

	<br />

	<label class="radio">
	  <% if current_user.can_add_pioneer?('vector') %>
	    <input type="radio" name="pioneer[type]" id="vector" value="vector">
		<%= t(:vector) %>
	  <% else %>
	    <input type="radio" name="pioneer[type]" id="vector" value="vector" disabled>
	  <%= t(:vector) %> <span class="muted"><%= t(:one_pioneer_type_limit_notification) %></span>
	  <% end %>
	</label>
	<label class="radio">
	  <% if current_user.can_add_pioneer?('illustration') %>
	    <input type="radio" name="pioneer[type]" id="illustration" value="illustration">
	  <%= t(:illustration) %>
	  <% else %>
	    <input type="radio" name="pioneer[type]" id="illustration" value="illustration" disabled>
		<%= t(:illustration) %> <span class="muted"><%= t(:one_pioneer_type_limit_notification) %></span>
	  <% end %>
	</label>
	<label class="radio">
	  <% if current_user.can_add_pioneer?('photo') %>
	    <input type="radio" name="pioneer[type]" id="photo" value="photo">
		<%= t(:photo) %>
	  <% else %>
	    <input type="radio" name="pioneer[type]" id="photo" value="photo" disabled>
		<%= t(:photo) %> <span class="muted"><%= t(:one_pioneer_type_limit_notification) %></span>
	  <% end %>
	</label>

	<br />

	<%= f.label t(:uploaded_at) %>
	<div class="input-append">
      <%= f.text_field :uploaded_at, :value => @pioneer.uploaded_at.strftime('%Y-%m-%d %H:%M') %>
	  <span class="add-on"><i class="icon-time"></i></span>
	</div>

	<br />

    <label class="checkbox">
	  <%= f.check_box :approved %> <%= t(:is_approved) %>
    </label>

	<div class="approved_date_container" style="display:none;">
	<br />
	<%= f.label t(:approved_at) %>
	<div class="input-append">
      <%= f.text_field :approved_at %>
	  <span class="add-on"><i class="icon-time"></i></span>
	</div>
	</div>

	<br />

    <button type="submit" class="btn"><%= t(:save) %></button>

  </fieldset>

<% end %>
