<% if @pioneers.length > 0 %>

<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.masked_id %></p>
	</td>
	<td>
	  <p><%= pioneer.approved_at.to_s(:pioneer_datetime) %></p>
	</td>
	<td>
	  <%= render 'vote', :pioneer => pioneer %>
	</td>
	<td>
	  <p><%= pioneer.user_name %><sup> <%= pioneer.user.votes_point %></sup></p>
	</td>
  </tr>
<% end %>
</table>
<div style="margin-left:30px;">
  <%= will_paginate @pioneers %>
</div>

<% else %>

<p>There are no any pioneers. <%= link_to 'Add new pioneer', new_pioneer_path %></p>

<% end %>
