<% if @pioneers.length > 0 %>

<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.masked_id %></p>
	</td>
	<td>
	  <p><%= pioneer.approved_at.to_s(:pioneer_datetime) %>
	    <br /><small class="muted">Загр: <%= pioneer.uploaded_at.to_s(:pioneer_datetime) %></small>
	  </p>
	</td>
	<td>
	  <%= render 'vote', :pioneer => pioneer %>
	</td>
	<td>
	  <p>
		<%= gravatar_image_tag(
			 pioneer.user_email,
			 :alt => pioneer.user_name,
		     :class => 'gravatar',
		     :gravatar => { :size => 25 }) %>
		<%= pioneer.user_name %>
		<sup> <%= pioneer.user.votes_point %></sup>
	  </p>
	</td>
  </tr>
<% end %>
</table>
<div style="margin-left:30px;">
  <%= will_paginate @pioneers %>
</div>

<% else %>

<p><%= t(:no_pioneers) %> <%= link_to t(:add_new_pioneer), new_pioneer_path %></p>

<% end %>
