<%= render 'alert' %>

<% if @pioneers.length > 0 %>

<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.masked_id %></p>
	</td>
	<td>
	  <p><%= pioneer.approved_at_formatted %>
	    <br /><small class="muted"><%= t(:uploaded_at_short) %><%= pioneer.uploaded_at_formatted %></small>
		<br /><small class="muted"><%= t(:on_the_road) %><%= pioneer.on_the_road %></small>
	  </p>
	</td>
	<td>
	  <%= render 'vote', pioneer: pioneer %>
	</td>
	<td>
	  <p>
		<%= gravatar_image_tag(
			 pioneer.user_email,
			 alt: pioneer.user_name,
		     class: 'gravatar',
		     gravatar: { size: 25 }) %>
		<%= pioneer.user_name %>
		<sup> <%= pioneer.user.votes_point %></sup>
	  </p>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate %>

<% else %>

<p><%= t(:no_pioneers) %> <%= link_to t(:add_new_pioneer), new_pioneer_path %></p>

<% end %>
