<%= render 'promo' %>
<%= render('priv_pioneers', :title => t(:pending_pioneers), :pioneers => @pendings) %>
<%= render('priv_pioneers', :title => t(:approved_pioneers), :pioneers => @pioneers) %>

<div style="margin-left:130px;">
  <%= will_paginate @pioneers %>
</div>

<% if @pendings.length == 0 and @pioneers.length == 0 %>
<p><%= t(:your_have_no_pioneers) %> <%= link_to t(:add_new_pioneer), new_pioneer_path %></p>
<% end %>
