<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.masked_id %></p>
	  <p>Type: <%= pioneer.type %></p>
	  <p>Approved: <%= pioneer.approved_at.to_s(:user_datetime) %></p>
	  <p>User: <%= pioneer.user_name %></p>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @pioneers %>
