<div class="row">
  <div class="span3">
	<%= gravatar_image_tag(
		@user.email,
		:alt => @user.name,
	:class => 'img-polaroid',
	:gravatar => { :size => 210 }) %>
  </div>
  <div class="span5 offset1">
	<h3>
	  <%= @user.name %>
	</h3>
	<p>
	  <div><%= @user.email %></div>
	  <div class="muted">(<%= t(:email_security_notification) %>)</div>
	</p>
	<br /><br />
	<p>
	  <div><%= t(:avatar_change_instructions_html) %></div>
	</p>
  </div>
</div>
<br \>

<%= form_for @user, :url => {:action => 'change_article_notification'}, :html => {:id => 'change_article_notification'}, :remote => true do |f| %>
  <fieldset>
	<legend class="muted"><%= t(:notifications) %></legend>
	<br />
	<label class="checkbox" id="articles_notify">
      <%= f.check_box :articles_notify %> <span><%= t(:articles_notify) %></span> <span class="muted" id="articles_notify_result"><span>
	</label>
  </fieldset>
<% end %>
<br />

<%= form_for(@user, :url => {:action => 'update_pass'}) do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <fieldset>
  <legend class="muted"><%= t(:change_password_h) %></legend>
  <br \>

  <div class="field">
   <%= f.password_field :current_password, :placeholder => t(:your_cur_pass) %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => t(:create_new_pass) %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmatio,	:placeholder => t(:confirm_pass) %>
  </div>

  <div class="actions">
    <%= f.submit t(:change_my_password), :class => 'btn' %>
  </div>
  </fieldset>
<% end %>
