<% if @pioneers.length > 0 %>

<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.img_id %></p>
	</td>
	<td>
	  <p><%= pioneer.type %></p>
	</td>
	<td>
	  <% if pioneer.approved? %>
	  <p><%= pioneer.approved_at_formatted %></p>
	  <% else %>
	  <p>pending</p>
	  <% end %>
	</td>
	<td>
	  <%= pioneer.created_at %>
	</td>
	<td>
	  <%= pioneer.user_name %>
	</td>
  </tr>
<% end %>
</table>
<div style="margin-left:130px;">
  <%= will_paginate @pioneers %>
</div>
<% end %>
