<h3>
  Pending pioneers (<%= Pioneer.users_pending.count %>)
</h3>

<% if @pendings.length > 0 %>

<table class="table table-striped table-condensed">
  <tr>
    <th>img id</th>
    <th>type</th>
	<th>created at</th>
	<th>author</th>
  </tr>

<% @pendings.each do |p| %>

  <% if p.probably_approved? %>
  <tr class="warning">
  <% else %>
  <tr>
  <% end %>

	<td>
	  <p># <%= p.img_id %></p>
	</td>
	<td>
	  <p><%= p.type %></p>
	</td>
	<td>
	  <%= p.created_at.to_s(:short_datetime) %>
	</td>
	<td>
	  <%= link_to p.user_name, admin_user_path(p.user) %>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<% end %>
