<h1>Listing subscriptons</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Pioneer ID</th>
	<th>Notify</th>
	<th>Submitted</th>
    <th>Owner</th>
	<th>Created at</th>
  </tr>

  <% @subscriptions.each do |sub| %>
    <tr>
      <td><%= sub.pioneer_id %></td>
	  <td><%= sub.notify %></td>
	  <td><%= sub.submitted %></td>
	  <td><%= link_to sub.user_name, user_path(sub.user) %></td>
	  <td><%= sub.created_at.to_s(:user_datetime) %></td>
      <td><%= link_to 'Destroy', sub, :confirm => 'Are you sure?', :method => :delete %></td>

    </tr>
  <% end %>

</table>

<br>

<%= will_paginate %>
