<div class="well sidebar-nav">
  <ul class="nav nav-list">
	<%= li_link_to t(:vectors), vectors_path %>
	<%= li_link_to t(:illustrations), illustrations_path %>
	<%= li_link_to t(:photos), photos_path %>
    <%= li_link_to t(:my_pioneers), pioneers_path  %>
    <%= li_link_to t(:add_new_pioneer), new_pioneer_path  %>
    <%= li_link_to t(:statistics), statistics_path  %>
  </ul>
</div><!--/.well -->
