<div class="well sidebar-nav">
  <ul class="nav nav-list">
	<%= li_link_to "Vector pioneers", vectors_path %>
	<%= li_link_to "Illustration pioneers", illustrations_path %>
	<%= li_link_to "Photo pioneers", photos_path %>
    <%= li_link_to "My pioneers", pioneers_path  %>
    <%= li_link_to "Add new pioneer", new_pioneer_path  %>
  </ul>
</div><!--/.well -->
